#cv-preview {
  min-height: 100vh;
  padding: 2rem;
  text-align: left;
  white-space: pre-line;
  background-color: #fff;
}

.title-duration {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
