.experience-container,
.education-container {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.experience-container > div,
.education-container > div {
  padding: 1rem 0.5rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.experience-container > div:hover:not(.selected),
.education-container > div:hover:not(.selected) {
  background-color: var(--primary-color-tint);
}

.selected {
  border-radius: 0.5rem;
  background-color: var(--primary-color-tint);
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 1.5rem 0;
}

fieldset {
  border: none;
  padding: 0;
}

legend {
  padding-inline: 0;
  padding-bottom: 0.5rem;
}

input,
select,
textarea {
  padding: 0.5rem;
  background-color: var(--background-color);
  border: none;
  border-radius: 0.5rem;
}

textarea {
  resize: none;
  min-height: 14rem;
}

input:focus,
select:focus,
textarea:focus {
  outline: 2px solid var(--primary-color);
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.form-field label,
.form-field legend {
  font-weight: bold;
}

.date-field-container {
  display: flex;
  gap: 1.5rem;
}

.date-subfield {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  gap: 0.5rem;
}

.date-subfield > label {
  font-weight: normal;
}

.currently-working-field {
  padding: 0.5rem 0;
}

.button-container {
  display: flex;
  justify-content: end;
  gap: 1rem;
}

.delete-btn {
  background-color: rgb(241, 62, 62);
  color: #fff;
}
