#root {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 2rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.builder {
  padding: 1rem 2rem;
  text-align: left;
  background-color: #fff;
  height: 100vh;
  overflow: auto;
}

details {
  padding: 1rem 0;
}

details:not(details:last-child) {
  border-bottom: 1px solid var(--dark-color);
}

summary > h2 {
  display: inline;
}

details > button {
  margin-top: 1rem;
}
